
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form button {
    padding: 10px;
    border: none;
    background-color: #3bb5a5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #456fa0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #3bb5a5;
    color: white;
}

button.delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #e53935;
}
p{
    text-align: center;
    font-family: cursive
}
h2{
    text-align: right;
    border:solid 1px black;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    float: right;
    font-family: cursive;
}
.contact{
    display: none;
    float:right;
    background-color: green;

}
.contact:hover{
    background-color:greenyellow ;
}

